version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: cna-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app

  backend:
    build: ./backend
    container_name: tp_devsecops_backend
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    command: >
      sh -c "sleep 5 &&
            npx prisma migrate deploy &&
            node seed/seed.js &&
            node src/index.js"
    restart: on-failure
    networks:
      - app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cna-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - app

networks:
  app:

volumes:
  postgres_data:
